/* AddEmployeeForm.css */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
div.add-employee-form {
  width: 500px;
}
.add-employee-form {
  max-width: 700px;
  margin: 40px auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
}

.add-employee-form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.add-employee-form form {
  display: flex;
  flex-direction: column;
}

.add-employee-form input {
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.2s ease;
  font-family: "Montserrat", sans-serif;
}

.add-employee-form select {
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.2s ease;
  font-family: "Montserrat", sans-serif;
}

.add-employee-form input:focus {
  border-color: #007bff;
  outline: none;
}

.add-employee-form button {
  padding: 10px 15px;
  background-color: #41d6bb;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: "Montserrat", sans-serif;
}

.form-message {
  margin-top: 15px;
  color: green;
  text-align: center;
  font-weight: bold;
}
